.mfa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.challenge-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pin-verification {
  margin-top: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
}
.title-app{
  text-align: center;
}
span.app-recaptcha{  
  /* font-size: 24px; */
  color: #ff4240; /* Bright color */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Eye-catching font */
}
span.app-mfa{
  text-align: center;
  font-weight: bold;
  color: #ff4240; /* Bright color */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Eye-catching font */
  font-weight: bold;
}

